#tabs ul li
{
    display:inline-block;
    float:left;
    height:24px;
    min-width:80px;
    text-align:center;
    line-height: 22px;
    padding:0 8px 0 8px;
    margin: 1px;
    border: 1px solid gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background:#F0F0F0;
}

.elt {
    background-color: blue;
    font-size: 20px;
}